 body {
   background: rgb(36, 0, 26);
   background: linear-gradient(90deg, rgba(36, 0, 26, 0.9585084033613446) 0%, rgba(63, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
 }
 h1{
  color: wheat;
  text-align: center;
 }

 .Container {
   height: 95vh;
   position: relative;
   margin-top: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   color: wheat;
   font-size: larger;
 }
 .number{
  margin-bottom: 5px;
 }
 .btn{
  border: none;
  text-decoration: none;
 }